<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <title>FPDS</title>
    


</head>
<body>
  
    <div class="grid">
        <div id="tooltip" class="hidden"></div>
        <div class="header"><h1>Federal Procurement Data System</h1></div>

        <div class="navbar" id="navbar"><select class="dept-select" id="dept-select"></select></div>  

        <div class="cell1" id="cell1"></div>
        <div class="cell2" id="cell2"></div>
    </div>    

        
        <script src="https://d3js.org/d3.v5.min.js"></script>

        <script src="https://d3js.org/d3-array.v2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.5.4/crossfilter.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

        <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>

      
        <script>
            
            var dept_data = {{ dept_data | safe}};
            var depts = {{ depts | safe}};
            var comp = {{comp | safe}};
            var margin = {top: 20, bottom: 30, left: 20, right: 20};

            var svg_size = {width: 400, height: 400, titlespace: 50, xspace: 50};


            deptDrop();
            runPlots();

        
        </script>


</body>
</html>

