body {
    margin: 0px;
    

    
  }

.grid {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;    
    grid-template-rows: 100px 400px 400px;
    grid-template-areas:
        ". header header header ."
        ". navbar cell1 cell1 ."
        ". navbar cell2 cell2 .";   


}
  

.header {
    grid-area: header;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    background-color: #4682b4;

}


.navbar {
    grid-area: navbar;        
}

.cell1 {
    grid-area: cell1;
}

.cell2 {
    grid-area: cell2;
}