body {

    margin: 0px;
    background-color: lightgrey;

    
  }

.grid {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 2fr 50px;    
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas:
        ". . header header ."
        ". navbar cell1 cell2 ."
        ". navbar . . .";  
    grid-gap: 10px;
    align-items: start;
}
  

.header {
    grid-area: header;
    border-radius: 5px;
    color: #fff;
    background-color: #4682b4;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}


.navbar {
    grid-area: navbar;      
    background-color: white;
    width: 300px;
}

.dept-select {
    width: 300px;
}


.cell1 {
    grid-area: cell1;
  
    min-height: 300px;
    text-align: center;

}

.cell2 {
    grid-area: cell2;
    min-height: 300px;
    text-align: center;
}

.tooltip {
    text-align: center;                                       
    width: 100px;                                                               
    height: 15px;                                                                
    padding: 2px;                                               
    font: 12px sans-serif;                
    background: lightgray;
    color: black;  
    border: 0px;                  
    border-radius: 8px;                                    
    position: absolute;
}

.tooltip.hidden {
    display: none;
  }

 